html {
	height: 100%;
	background-size: 450px;
	image-rendering: pixelated;
	background-image: url(/static/pics/sunset.png);
}

#logo{
    font-size:50px;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(-2deg,#d367c1 10%,#ab79d6 70%);
    line-height: .8;
    font-weight:800;
}

body {
    background-color: white;
	max-width: 900px;
	margin: auto;
    font-family: system-ui, sans-serif;
    padding: 1em;
    border-radius: 0 0 7px 7px;
}

article{
    margin: 10px;
}

header {
	border-bottom: 2px dotted #666;
}

footer {
	border-top: 2px dotted #666;
	text-align: left;
}

pre>code{
 border-radius: 5px;
 margin: 5px 0;
}


input[type="checkbox"] {
  display: none;
}


label::before {
    content: url(/static/pics/pxsun.png);
}

:checked + label::before {
    content: url(/static/pics/pxmoon.png);
}

.dark{
    background-color: #2A2A3A;
    color: #EEEEEE;
}

.night{
	background-image: url(/static/pics/night.png);
}