<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<a id="logo" href="/">multiblog</a>
			<link rel="shortcut icon" href="{{ url_for('.static', filename='pics/favicon.ico') }}" type="image/x-icon">
			<script src="{{ url_for('.static', filename='js/script.js') }}" defer></script>

			<label style="float:right;"><input type="checkbox" id="dark-mode" onclick="darkMode()"/>Night mode</label>
		</header>

		{% block body %}{% endblock %}

		<footer>
			<p>Made with <a href="https://github.com/thedmdim/multiblog">multiblog</a></p>
		</footer>
	</body>
</html>