<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<!-- <a id="logo" href="/"><img align="left" width="50px" src="{{ url_for('static', filename='pics/logo.png') }}"/></a>-->
			<a id="logo" href="/">hub.ci</a>
			<!--<a id="night-mode" href="/"><img align="right"  src="{{ url_for('static', filename='pics/pxmoon.png') }}"/></a>-->
			<script src="{{ url_for('.static', filename='js/script.js') }}" defer></script>
			<input type="checkbox" id="dark-mode" onclick="darkMode()"/>
			<label for="dark-mode"></label>
		</header>

		{% block body %}{% endblock %}

		<footer>
			<p>Contacts</p>
		</footer>
	</body>
</html>